<style>

.h1 {
     font-family: sans-serif;
}

 h1 {
   font-size: 30px;
   color: #FFFFFF;
     background-color: #4F583D;
     padding: 15px;
     text-align: center;
   }

  h2 {
  color: #FFFFFF;
     font-size: 20px;
     margin-left: 100px;
     margin-right: 100px;
     border-style: none;
     background-color: #85865F;
     padding: 10px;
     text-align: center;
   }

h3 {
  font-size: 20px;
  color: #FFFFFF;
  height: 20px;
  padding: 10px;
  background-color: #8A584C;
  border-radius: 10px;
  text-align: center;
}

h4 {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}

button {
  color: white;
     font-size: 20px;
     border-style: none;
  margin: auto;
     padding-top: 10px;
     padding-bottom: 10px;
     text-align: center;
}

.img {
  display: flex;
  justify-content: space-between;
}

.container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify content: space-around;
padding: 10px;
}

   p {
     font-size: 18px;
     margin-left: 60px;
     margin-right: 60px;
     text-align: left;
     background-color: #F5EACF;
     font-family: sans-serif;
     padding-left: 50px;
     padding-right: 50px;
     padding-top: 20px;
     padding-bottom: 20px;
   }

 p2 {
     font-size: 18px;
     margin-left: 50px;
     margin-right: 50px;
     text-align: left;
     font-family: sans-serif;
   padding-left: 50px;
     padding-right: 50px;
     padding-top: 20px;
     padding-bottom: 20px;
   margin: auto;
   }

ul {
     font-size: 18px;
     margin-left: 150px;
     margin-right: 150px;
     text-align: left;
     font-family: sans-serif;
     padding: 25px;
   }

dl, dt, dh {
     font-size: 18px;
  text-align: left;
     font-family: sans-serif;
     padding: 25px;
   }

   table, th, td {
     border: 2px solid;
     font-family: sans-serif;
     padding: 8px;
   }

   th {
  text-align: left;
}

   a {
     margin-bottom: 75px;
     margin: auto;
     background-color: #8A584C;
     color: white;
     font-size: 18px;
     width: 20%;
     height: 100%;
     display: table;
     text-align: center;
     padding-top: 16px;
     padding-bottom: 16px;
     border-radius: 10px;
   }

 .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-height: 100vh;
  }

  .cards img {
    margin: 10px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
    max-width: 23vw;
  }

 </style>
