<style>

.h1 {
     font-family: sans-serif;
}

 h1 {
   font-size: 30px;
   color: white;
     background-color: #4F583D;
     padding: 15px;
     text-align: center;
   }

  h2 {
  color: white;
     font-size: 20px;
     border-style: none;
     background-color: #85865F;
     padding: 10px;
     text-align: center;
     margin-left: 200px;
     margin-right: 200px;
   }

.h3 {
  font-size: 20px;
  color: white;
  height: 20px;
  padding: 10px;
  background-color: #8A584C;
  border-radius: 10px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

h4 {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.img {
  display: flex;
  justify-content: space-between;
}

container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify content: space-around;
}

   p {
     font-size: 18px;
     margin-left: 300px;
     margin-right: 300px;
     background-color: #F5EACF;
     font-family: sans-serif;
     padding: 25px;
   }

   table, th, td {
     border: 2px solid;
     font-family: sans-serif;
     margin-left: 300px;
     margin-right: 300px;
     padding: 8px;
   }

   th {
  text-align: left;
}

   a {
     margin: 0 auto;
     background-color: #8A584C;
     color: white;
     font-size: 18px;
     padding: 0 10px 20px 10px;
     width: 20%;
     height: 100%;
     display: table;
     text-align: center;
     padding-top: 14px;
     border-radius: 10px;
   }

 </style>
